
<div id="extraopties" class="schaduw" role="main">
    <div class="eo-titel" role="banner">

        <h1>Poké Bowl tonijn</h1>

    </div>

    <form name="extraopties" method="post" action="index.php" accept-charset="utf-8">

        <div id="in-extraopties">
            <h2>Formaat</h2><select>
            <option class="vreterijOptie" data-id="39" data-naam="Normaal" data-prijs="0.00">Normaal</option>
            <option class="vreterijOptie" data-id="40" data-naam="Groot" data-prijs="3.00">Groot (+ &euro; 3.00)</option>
        </select>
            <div class="clear"></div>


            <h2>Aantal</h2><input type="number" value="1" min="1" minlength="1" maxlength="2" class="aantal" title="Vul een cijfer in" pattern="[0-9]" required />

        </div>

        <div class="eo-onder">
            <button type="submit" class="submit vreterijVoegToeOpties" data-productNaam="Poké Bowl tonijn" data-productCategorie="Poke bowl"  data-productId="3" data-prijs="8.95" data-aantal="1">Toevoegen</button>

        </div>

    </form>

</div>
